* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

svg {
  display: block;
}

.game {
  min-width: 575px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.game__cards {
  width: 720px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: 100px;
  grid-gap: 20px;
  padding: 0 20px;
}
.game__cards.no-event {
  pointer-events: none;
}
.game__card {
  position: relative;
  cursor: pointer;
  perspective: 700px;
}
.game__card.flipped, .game__card.has-match {
  pointer-events: none;
}
.game__card.flipped .game__back-card, .game__card.has-match .game__back-card {
  transform: rotateY(180deg);
}
.game__card.flipped .game__front-card, .game__card.has-match .game__front-card {
  transform: rotateY(360deg);
}
.game__back-card, .game__front-card {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: #F27922;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  transition: transform 400ms;
}
.game__back-card {
  z-index: 1;
}
.game__front-card {
  transform: rotateY(180deg);
}

.footer {
  text-align: center;
  padding: 5px 0;
  color: #ccc;
  background: #333;
}
.footer a {
  color: #21a1e1;
  text-decoration: none;
}